@model Rule.BL.Models.PostsDTO

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap">
    <title>Document</title>
</head>

<body>
    <div class="Container">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
        <form asp-controller="Posts" asp-action="Create" method="post">
            <h2> Розміщення оголошення</h2>
            <div class="content">
                <div class="input-box">
                    <label for="statusPost">Статус поста</label>
                    <input type="number" asp-for="StatusPostId" id="statusPost" placeholder="Притулок для тварин, Пошук домівки або Збір" required>
                    <span asp-validation-for="StatusPostId" class="text-danger"></span>
                </div>
                
                <div class="input-box">
                    <label for="statusPost">Юзернейм</label>
                    <input type="number" asp-for="UsersId" id="userName" placeholder="Юзернейм" required>
                    <span asp-validation-for="UsersId" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <label for="dataPost">Час</label>
                    <input type="date" asp-for="CreationTime" id="creationTime" placeholder="Час" required>
                    <span asp-validation-for="CreationTime" class="text-danger"></span>
                </div>

                <div class="content">
                    <div class="input-box">
                        <label for="name">Заголовок оголошення</label>
                        <input type="text" asp-for="Name" id="nameInput" placeholder="Назва" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="input-box">
                        <label for="name">Введіть, що вам потрібно: </label>
                        <input type="number" asp-for="TypePostId" id="typeInput" placeholder="Потребую допомогу або Пропоную допомогу" required>
                        <span asp-validation-for="TypePostId" class="text-danger"></span>
                    </div>
                
                <div class="input-box">
                    <label for="photos">Фото</label>
                        <div style="display: flex;">
                            <input type="file" asp-for="PicturesPosts" id="photos" accept="image/*" style="flex: 1; visibility: hidden; position: absolute;">
                            <button type="button" id="add-file-button">Додати файл</button>
                        </div>
                </div>

                    <div class="input-box">
                        <label for="name">Додайте опис</label>
                        <input type="text" asp-for="Description" id="descriptionInput" placeholder="Напишіть опис для оголошення" required>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="input-box" id="sumField">
                        <input type="text" asp-for="FinishSum" id="finishSumInput" placeholder="Сума" required>
                        <span asp-validation-for="FinishSum" class="text-danger"></span>
                    </div>

                    <div class="input-box">
                        <label for="name">Посилання</label>
                        <input type="text" asp-for="Link" id="linkInput" placeholder="Посилання" required>
                        <span asp-validation-for="Link" class="text-danger"></span>
                    </div>
                </div>
                <div class="button-container">
                    <button>Розмістити</button>
                </div>
            </div>
        </form>
    </div>

</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('add-file-button').addEventListener('click', function () {
            document.getElementById('photos').click();
        });
    });
</script>
</html>